@page "/"
@inject HttpClient Http

@using Armadillo.Chart
@using Armadillo.Shared
@using System.Collections.Generic
@using System.Threading.Tasks
@using Microsoft.AspNetCore.WebUtilities

<select bind="@ProductName">
    @foreach (var item in ProductNames)
    {
        <option value="@item">@item</option>        
    }
</select>

<br/>
<input type="checkbox" bind="@ShowCustomers" /> Show customers<br />
<input type="checkbox" bind="@ShowOwners" /> Show owners<br />

@if (ProductSubcases == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <SubcaseGraph Product=@ProductSubcases ShowCustomers=@ShowCustomers ShowOwners=@ShowOwners/>
}

@functions {
    private IEnumerable<string> ProductNames { get; set; } = new string[]{};
    
    private string productName_;
    private string ProductName
    { 
        get
        {  
             return productName_;
        }
        set
        {
            productName_ = value;
            ReloadSubcases();
        }
    }

    private bool ShowCustomers { get; set; } = true;
    private bool ShowOwners { get; set; } = true;
    private Product ProductSubcases { get; set; }

    protected override async Task OnInitAsync()
    {
        ProductNames = await Http.GetJsonAsync<IEnumerable<string>>("api/products");
        ProductName = ProductNames.FirstOrDefault();
    }

    private void ReloadSubcases()
    {
        ProductSubcases = null;
        Task.Run(async () => {
            var url = QueryHelpers.AddQueryString("api/subcases", "product", ProductName);
            ProductSubcases = await Http.GetJsonAsync<Product>(url);
            StateHasChanged();
        });
    }
}
