@using Armadillo.Shared
@page "/subcases"
@inject HttpClient Http

@if (product == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>@product.Subcases.Length subcases for @product.Name</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>Level</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcase in product.Subcases)
            {
                <tr>
                    <td>@subcase.Id</td>
                    <td>@subcase.Title</td>
                    <td>@subcase.Customer</td>
                    <td>@subcase.Owner</td>
                    <td>@subcase.Level</td>
                    <td>@subcase.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Product product;

    protected override async Task OnInitAsync()
    {
        product = await Http.GetJsonAsync<Product>("api/product");
    }
}
