@page "/subcases"
@inject HttpClient Http

@using Armadillo.Shared
@using Microsoft.AspNetCore.WebUtilities

@if (ProductSubcases == null)
{
    <h1>Loading...</h1>
}
else
{
    <h1>@ProductSubcases.Subcases.Length subcases for @ProductSubcases.Name</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Customer</th>
                <th>Owner</th>
                <th>Level</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcase in ProductSubcases.Subcases)
            {
                <tr>
                    <td>@subcase.Id</td>
                    <td>@subcase.Title</td>
                    <td>@subcase.Customer</td>
                    <td>@subcase.Owner</td>
                    <td>@subcase.Level</td>
                    <td>@subcase.Status</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    Product ProductSubcases;

    protected override async Task OnInitAsync()
    {
        var url = QueryHelpers.AddQueryString("api/subcases", "product", "Recovery Manager for AD");
        ProductSubcases = await Http.GetJsonAsync<Product>(url);
    }
}
